<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light py-4 bg-light border-bottom shadow-sm">
        <div class="container-fluid">

            @Html.ActionLink("Voyage", "Index", "Home", new { area = "" }, new { @class = "navbar-brand fw-semibold" })

            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#nav_lc"
                    aria-controls="nav_lc" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="nav_lc">
                <ul class="navbar-nav my-3 my-lg-0 ms-lg-3 me-auto">
                    <li class="nav-item me-4">
                        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item me-4">
                        @Html.ActionLink("Tours", "Index", "Tours", null, new { @class = "nav-link" })
                    </li>

                    @if (Request.IsAuthenticated)
                    {
                        <li class="nav-item me-4">
                            @Html.ActionLink("Bookings", "Index", "Bookings", null, new { @class = "nav-link" })
                        </li>
                    }

                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="nav-item me-4">
                            @Html.ActionLink("Packages", "Index", "Packages", null, new { @class = "nav-link" })
                        </li>
                        
                    }
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>



